#hamburger {
    z-index: 1 !important;
}

.modal.modal-left .modal-dialog,
.modal.modal-right .modal-dialog {
    width: 350px;
}

.modal-content {
    background-color: #000;
}

#menu-navigation .nav-links li a {
    display: block;
    margin: 0;
    text-align: right;
}

#menu-navigation .nav-links li a:hover {
    color: #8b939b;
}

.modal-header .btn-close {
    color: #fff;
}

.btn-close {
    background: transparent url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e) center/1em auto no-repeat;
}

.modal-header{
    border-bottom: unset;
}